* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Arvo', serif;
  font-size: 16px;
  line-height: 1.5;
  color: #353A3E;
  background: #F0E8D5;
  background-image: url('../images/noise.jpg');
  text-shadow: 0 0 1px rgba(0,0,0,.2);
  font-weight: 300;
  position: static;
  min-height: 100%;
  height: 100%;
}

big {
  font-size: 2.5rem;
  color: green;
}

a {
  color: #353A3E;
  text-decoration: underline;
}

.page-header {
  text-align: left;
  background: #F0E8D5;
  background-image: url('../images/old-computers.jpg');
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  padding: 5%;
  margin: 0 auto 80px;
}

.page-header h1, .page-header h2 {
  text-align: left!important;
}

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem; 
  font-family: 'Leckerli One', cursive;
  color: #9F3333;
  font-size: 5rem;
}

.page-header h2 {
  color: #fff;
}

.main-content {
  width: 90%;
  margin: 0 auto;
  position: static;
  min-height: 100%;
  height: 100%;
}

h3 {
  font-size: 1.6rem;
  margin-top: 10px;
}

h4 {
  font-size: 3rem;
  margin: 0;
}

h5 {
  font-size: 1.5rem;
  margin: 15px 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.red {
  color: #E72F3B;
}

table td {
  vertical-align: top;
  padding: 0 20px;
}

.text-justify {
  text-align: justify;
}

footer {
  margin-top: 80px;
  padding: 5%;
  background: #fff;
  background-image: url('../images/noise-white.png');
}

.text-right {
  text-align: right;
}

/*mailchimp*/
#mc_embed_signup {
  background: none!important;
  text-align: left!important;
}

#mc_embed_signup input[type="email"] {
  background: none!important;
  border: 0!important;
  border-bottom: 1px #353A3E solid!important;
  margin-top: 15px!important;
  width: 100%!important;
}

#mc_embed_signup input[type="email"]:focus {
  outline: 0!important;
}

#mc_embed_signup input[type="submit"] {
  background: #353A3E!important;
  color: #fff!important;
  padding: 0 10px!important;
  border: 0!important;
  font-weight: 700!important;
  margin-top: 15px!important;
  border-radius: 0!important;
  min-width: 0!important;
  width: 100%!important;
}
#mc_embed_signup input[type="submit"]:after {
  clear: both!important;
}
