extends ./layouts/base.jade

block banner
    .banner.backstretch(data-background="/public/images/dance.jpg")
        div
            h2.h1 About us
            p.h3 We are more than we are

block main
    section
        .inner
            h2.h1 Who we are?
            hr
            p We are a team passionated with products materialization. We are glad to make products that solve the problem of our customers. The most important thing for us, is your satisfaction with our work
            p We are mexican proud, and we count with a network of professional that help us to make our services much better for our customers.
    section.highlight
        .inner
            h2.h1 Our mantra
            hr
            p.h1.quote Design is not just what it looks like and feels like. Design is how it works.
            p.h3 - Steve Jobs.
    section
        .inner
            h2.h1 Community
            hr
            p.center
                a.logo(href="//ixda.org", target="_blank")
                    img(src="/public/images/community/ixda.png")
                a.logo(href="//chelajs.com", target="_blank")
                    img(src="/public/images/community/chelajs.png")
    section
        .inner
            h2.h1 Partnerships
            hr
            p
                a.logo(href="//ixda.org", target="_blank")
                    img(src="/public/images/community/ixda.png")
                a.logo(href="//chelajs.com", target="_blank")
                    img(src="/public/images/community/chelajs.png")