extends ./layouts/base.jade

block banner
    .banner.backstretch(data-background="/public/images/castlesand.jpg")
        div.h1
            p Hi!, we are a freak company that
            p helps to materialize software products.

block main
    section
        p
            | Ayudamos a startups, empresas pequeñas, medianas y globales a diseñar productos de software que logren satisfacer las necesidades de sus usuarios o posibles clientes, con una metodología agíl ya probada y validada por nuestros clientes.
        p
            | Escuchamos y entendemos a nuestros clientes, los apoyamos durante el analísis, diseño, desarrollo, lanzamiento y mantenimiento.
        p
            | Si deseas incrementar la productividad y/o conocimiento de tu equipo, también brindamos servicios de capacitación y entrenamiento, con profesionales capacitados y especializados en diversas ramas del desarrollo de software.
    section
        h2.h1 Cool customers
        p.h3 Some companies we've worked with.

    section
        p
            | Para cotizar con nosotros, envia un correo a:
            br
            strong
                a.link(href="mailto:hola@freeky.co")
                    u hola@freeky.co
        p
            | O lee nuestro blog 
            a.link(href="http://freeky.tumblr.com", target="_blank")
                u en tumblr
            |.
    
