extends ./layouts/base.jade

block banner
    .banner.backstretch(data-background="/public/images/castlesand.jpg")
        div
            p.h1 Hi!, we are a 
                strike freaky
                | &nbsp; freeky agency
                br
                | that design and build software products.

block main
    section
        .inner
            h2 We can help you with making your ideas a reality.
            hr
            p.center We are designers, developers, analysts, project managers, humans, robots, freaks that work for you, just glad to help you make your dreams come true. But we know that you need more than that, so we make it 
                strong smart
                | , 
                strong agile 
                | and 
                strong ensuring quality
                | .
            p.center
                a.button.button-primary(href="/about") More about us

    section.highlight
        .inner
            h2.h1 Cool customers
            p.h3 Some amazing friends we've worked with.
            hr
            p.h1.quote We love freeky, our product got the right functionality we wanted.
            p.h3 - Rich Peniche, Mi Mariachi App
            p
                a.button.button-primary(href="/contact") Hire us
    section
        .inner
            h2.h1 We are proud of
        .canvas
            .backstretch(data-background="/public/images/projects/regalodemiel-cover.jpg")
                p 
                    img(src="/public/images/projects/regalodemiel-logo.svg", alt="")
                a.button.button-primary.button-inverse(href="/project/regalodemiel") View project
            
            .backstretch(data-background="/public/images/projects/impulso-cover.jpg")
                p.center
                    img(src="/public/images/projects/impulso-logo.svg", alt="")
                a.button.button-primary.button-inverse(href="/project/impulso") View project

            .backstretch(data-background="/public/images/projects/cocacola-cover.jpg")
                p.center
                    img(src="/public/images/projects/cocacola-logo.svg", alt="")
                a.button.button-primary.button-inverse(href="/project/cocacola") View project
