extends ./layouts/base.jade

block banner
    .banner.backstretch(data-background="/public/images/bike.jpg")
        div
            h2.h1 Our services
            p.h3 We have wonderwall solutions for you.

block main
    section
        h3 Análisis de producto
        p
            | Antes de desarrollar un producto, se requiere definir lo que se desea y se espera obtener, con base en las necesidades de los clientes, y/o tendencias de mercado.
        h3 Diseño de producto
        p
            | Tenemos diseñadores aliados que son expertos en diseño de interfaces y experiencia de usuario, tu producto no solo se verá bien, si no que será completamente funcional y aplicando las mejores practicas del mundo.
        h3 Desarrollo de producto
        p
            | Si no cuentas con equipo de desarrollo, nosotros podemos hacer el desarrollo por tí, ya sea con nuestros propios recursos o con externos especificados por tí.
        h3 Medición
        p
            | Te ayudamos a medir y analizar el uso de tu sistema, para que al decidir hacer mejorar de tu sistema se puedan hacer actualizaciones estrategicas.
        h3 Administración de proyecto
        p
            | Si tienes todos los recursos, pero necesitas que sean organizados, nosotros podemos administrarlos, con metodologías agiles, que ayudaran a tu producto a ser realidad en un menor tiempo y procurando siempre la calidad del producto.
        h3 Capacitación y entrenamiento
        p
            | Si tu equipo requiere mejorar su productividad o aprender un nuevo lenguaje, metodología de desarrollo o algún tema en especifico del desarrollo y diseño de productos, ponemos a tu disposición nuestros talleres impartidos por nuestra red de profesionales especializados en diversas ramas.
        h3 Control de calidad
        p
            | Solo escribir líneas de código no es suficiente, cada paso que se da debe ser cuidadoso, por ello brindamos el servicio de aseguramiento de calidad, haciendo pruebas de usuario y automatizadas para detección de fallas en tu sistema.