extends ./layouts/base.jade

block banner
    .banner.backstretch(data-background="/public/images/celebration.jpg")
        div
            h2.h1 Thanks!
            p.h3 We'll be in touch as soon as possible
